@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@keyframes windowUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
  }
}

@keyframes windowHide {
  from {
    background-color: none;
  }
  to {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.hidden {
  display: none;
}

body {
  background-size: 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#status-info {
  border-radius: 15px;
  text-align: center;
  color: white;
  height: 16%;
  width: 40%;
  margin-bottom: 10px;
  animation: windowHide 2s ease-in-out forwards;
}

#clock {
  font-family: "LINESeedKR-Bd";
  margin: 0;
  font-size: 90px;
  font-weight: 400;
  animation: windowUp 2s ease-in-out;
}

#weather {
  font-family: "NanumSquare";
  animation: windowUp 2s ease-in-out;
}

#user-communication {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  height: 60%;
}

#user-info {
  width: 50%;
  height: 100%;
  margin-right: 15px;
  border-radius: 20px;
  animation: windowHide 2.5s ease-in-out forwards;
}

#log-in {
  height: 100%;
  align-items: center;
  margin-bottom: 30px;
  animation: windowUp 2.5s ease-in-out;
}

#log-in > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#log-in > div > input {
  font-size: 20px;
  border: 3px solid black;
  border-radius: 20px;
  padding: 8px 15px;
  margin-bottom: 5px;
}

#log-in > div > button,
#todo > button {
  background-color: aquamarine;
  width: 20%;
  opacity: 0.8;
  padding: 4px 5px;
  border: none;
  border-radius: 10px;
}
#greeting {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: windowUp 2.5s ease-in-out;
}

#greeting__welcome,
#greeting__name {
  color: white;
  margin: 0;
}

#greeting__welcome {
  font-family: "NanumSquareBold";
  font-size: 60px;
  padding-bottom: 0;
  margin-bottom: 0;
}
#greeting__name {
  font-family: "NanumSquareExtraBold";
  font-size: 100px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 30px;
}

#todo-box {
  height: 20%;
  width: 50%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 20px;
  animation: windowHide 2.5s ease-in-out forwards;
}
#todo > input {
  font-size: 15px;
  border: 3px solid black;
  border-radius: 20px;
  animation: windowUp 2.5s ease-in-out;
}

#todo > input:first-child {
  margin-bottom: 5px;
  padding: 8px 15px;
}

#todo > input:nth-child(2) {
  margin-bottom: 5px;
  padding: 3px 15px;
}

#todo > button {
  animation: windowUp 2.5s ease-in-out;
}

#todo > button:hover {
  background-color: rgba(2, 255, 154, 0.3);
}

#todo-list {
  list-style: none;
  align-items: center;
  animation: windowUp 3.5s ease-in-out;
}
#todo-list > li {
  margin-bottom: 15px;
}

#todo-list > li > span:first-child {
  background-color: rgba(2, 255, 154, 0.968);
  color: black;
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 5px;
}

#todo-list > li > span:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 10px;
}

#todo-list > li > button {
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.5);

  border: none;
}

#todo-list > li > button:hover {
  border-radius: 100%;
  background-color: white;
  border: none;
}
